/* CSS Elements */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Global variables for Colors/Units */
:root {
    --main-text-color: #ffffff;
    --secondary-text-color: #cccccc;
    --background-color: #000000;
    --accent-color: #007BFF;
    --main-font-family: 'Arial', sans-serif;
    --main-font-size: 1em; /* 16px */
    --spacing-unit: 1em; /* 16px */
    --main-font-size: 16px;
}

/* Style */
body {
    color: var(--main-text-color);
    background-color: var(--background-color);
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    line-height: 1.5;
/*Headings*/

h1, h2, h3, h4, h5{
    color: var(--main-text-color);
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    margin: var(--spacing-unit) 0;
    padding: var(--spacing-unit) 0;
    font-weight: normal;
    text-align: center;
}

/*Paragraphs*/
p{
    color:var(--secondary-text-color);
    margin-bottom: var(--spacing-unit);
    padding: 0 0.5em;
}

/*Links*/
a {
    color: var(--accent-color);
    text-decoration: none;
    transition: color 0.3s ease;
}
a:hover {
    color: var(--accent-color);
}

ol > li {
    background-color: black;
    padding: 0.5 em;
    margin-bottom: 0.5 em;
    border-radius: 3px;
}
/*Table Headers*/
th {
    color: var(--accent-color);
    padding: 0.5em;
    border-bottom: 2px solid var(--accent-color);
}

/*Table Data*/
td {
    color: var(--secondary-text-color);
    padding: 0.5em;
    border-bottom: 1px solid var(--secondary-text-color);
}

/*Forms*/
label {
    color: var(--accent-color);
    margin-bottom: 0.25em;
    display: block;
}

/*Buttons*/
.button{
    background-color: var(--accent-color);
    color: var(--main-text-color);
    padding: var(--spacing-unit);
    border: 1pt solid var(--accent-color);
    cursor: pointer;
    border-radius: 3px;
}

.button:hover{
    background-color: var(--main-text-color);
    color: var(--accent-color);
}

/* Layout Design */
@media (min-width: 768px) {
    :root {
        --font-size-base: 1em; /* 16px */
    }

    .container{
        width: 100%;
        padding: calc(var(--spacing-unit) * 2);
    }
}